
body{
    font-family: Arial;
    background: #111;
    color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}
input{
    width: 100%;
    padding: 8px;
}
